* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1c2d3c;
    width: 60%;
    margin: 20px auto;
}

header {
    margin-bottom: 20px;
}
header img {
    width: 50px;
    height: auto;
}



main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}

.card {
    width: 250px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: 50px;
}

.card img {
    width: 150px;
    height: auto;
}

